.bg-color {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sub-div {
  background-color: #ffffff;
  border-radius: 16px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #a35200;
  font-size: 20px;
  font-family: 'Roboto';
}
.paragraph {
  color: #334155;
  font-size: 20px;
  font-weight: 600;
}
.img {
  height: 160px;
  width: 160px;
}
.button {
  background-color: #f9d423;
  color: #a35200;
  border-width: 0px;
  border-radius: 4px;
}
.for-par {
  display: flex;
  flex-direction: column;
}
.paragraph1 {
  color: #475569;
  font-weight: 600;
  margin-right: 10px;
}
@media screen and (min-width: 767px) {
  .sub-div {
    min-width: 600px;
  }
  .heading {
    font-size: 30px;
  }
  .for-par {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
